.popup__body {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 27%;
  left: 33%;
}

@media screen and (max-width: 715px) {
  .popup__body {
    left: 20%;
  }
}

@media screen and (max-width: 620px) {
  .popup__body {
    max-width: 282px;
    top: 22%;
    left: 6%;
  }
}
